.bg-steel {
  background-color: rgba(44, 62, 80);
  box-shadow: 10px 10px 20px black;
  border-radius: 25px;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: white;
  font-size: 3vh;
}

body > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to left ,gray, brown);
  justify-content: space-around;
  padding-bottom: 6vh;
  padding-top: 6vh;
  gap: 15px;
}
section .article-1 {
  max-width: 90%;

}

section > a {
  display: flex;
  align-items: center;
  width: 35%;
  min-width: 130px;
  border: 2px solid white;
  height: 50px;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  text-decoration: none;
  color: black;
  box-shadow: 10px 10px 10px black;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}
section > a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}
section > a:active {
  background-color: black;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}
.article-1 article {
  max-width: 90%;
}
h1 {
  font-size: 4vw;
}

video {
  object-fit: fill;
}
@media (max-width: 768px) {
  h1 {
    font-size: 11vw;
  }
  h2 {
	  font-size: 8vw;
  }
  h3 {
	  font-size: 7vw;
  }


}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  margin-bottom: 10px;
  }
  @media (max-width: 500px) {
    body {
      margin-top: 35px;
      font-size: 5vw;
    }
  }
  .intro-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 4vh;
    row-gap: 5vh;
  } 
  .welcome {
    text-align: center;
    color: black;
  }
  .welcome p {
    margin-top: 10px;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .features {
    display: grid;
    grid-template-columns: 1fr;
    color: black;
    column-gap: 200px;
    margin: 10vh;
    row-gap: 200px;
  }
  .feature-description {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 20vw;
    border: 1px solid black;
    box-sizing: content-box;
    padding: 5px;
    box-shadow: 10px 10px 10px black;
  }
  .feature-description article {
	  text-align: center;
  }
  video {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1000px) {
    .feature-description {
      grid-template-columns: 1fr;
    } 
    .features {
      margin: 5vw;
      margin-bottom: 10vh;
      row-gap: 10vh;
    }
  }
  .About {
    padding-top: 8vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
    padding-bottom: 6vh;
    gap: 6vh;
  }
  .About-article {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .About-article p, .About-article h3{
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 62, 80);
    height: 30vh;
    align-items: center;
    justify-content: center;
  }
  .footer a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

  }


  .footer-icons {
    display: flex;
    justify-content: space-between;
    height: 5vw;
    max-height: 15%;
    min-height: 25px;
    width: 25%;
    margin-bottom: 2vw;
    min-width: 200px;
  }
  .About  a, .About-2n  a {
    display: flex;
    align-items: center;
    width: 25%;
    min-width: 175px;
    border: 2px solid white;
    height: 50px;
    justify-content: center;
    border-radius: 30px 30px 30px 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s ease-in-out;
  }
  @media (max-width: 400px) {
	  .About > a {
		  width: 175px;
	  }
	  .About-article {
		  width: 90%;
	  }
  }
  .About > a:hover, .About-2n > a:hover {
    background-color: #5f6d49;
  }
  .About > a:active, .About-2n > a:active {
    background-color: black;
    margin-left: 5px;
    margin-top: 5px;
    }
#accordion {
  display: none;
  color: black;
  background-color: brown;
}
.About-2n {
  display: none;
  color: black;
  padding-top: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
  padding-bottom: 6vh;
  gap: 6vh;
}


@media (max-width: 700px) {
  .About {
    display: none;
  }
  #accordion {
    display: block;
  }
  .About-2n{
    display: flex;
  }

}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 1.5em;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

