{% extends "layout.html" %}

{% block content %}
	{% if not current_user.filename %}
        <div class="m-auto text-center container" style="height: 50px; line-height: 50px; background-color: #cbd5db;">
          <P>Please <a class="warning"  href="{{ url_for('blue.account') }}">Upload</a> your <strong>CV</strong> to apply for the job</P>
	</div>
	{% endif %}
        <div class="container mt-5">
            <div class="jumbotron jumbotron-fluid bg-dark text-white">
                <div class="container text-center">
                    <h1 class="display-3" id="h11">
                        {{ objs.title }}
                      </h1>
                    <p class="lead">{{ objs.job_type }} - {{ objs.location }}</p>
                    <p>{{ objs.level }} | {{ objs.vacancies }} vacancies</p>
                    <p>Salary: {{ objs.salary }}</p>
                    <p>Deadline: {{ objs.deadline }}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    Job Description
                </div>
                <div class="card-body">
                    <p class="card-text">{{ objs.description }}</p>
                </div>
            </div>
  
            <div style="margin-bottom: 45px;"> 
              <a class="btn btn-secondary btn-sm m-1"  href="{{ url_for('blue.post_update', post_id=objs.id) }}">Update Post</a>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button>
              {% if current_user.filename and (applied == False) %}
              <a class="btn btn-secondary btn-sm m-1"  href="{{ url_for('blue.apply', post_id=objs.id) }}">Apply</a>
              {% endif %}
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('blue.delete', post_id=objs.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
