{% extends "joo.html" %}

{% block content %}
    {% for objs in obj %}

        <div class="container">
            <div class="p-3 m-1 bg-dark text-white rounded">
                <div class="container text-center">
                    <h1 class="display-3" id="bro"><a class="text-decoration-none" href="{{ url_for('blue.postId', job_id=objs.job_id) }}">
                        {{ objs.title }}
                    </a></h1>
                    <p class="lead">Job type: {{ objs.job_type }}</p>
                    <p class="lead">Location {{ objs.location }}</p>
                    <p class="lead">Level: {{ objs.level }} | {{ objs.vacancies }} Vacancies</p>
                    <p>Salary: {{ objs.salary }}</p>
                    <p>Deadline: {{ objs.deadline }}</p>
                </div>
            </div>
            <div class="card m-1 mb-5 border border-dark">
                <div class="card-header bg-primary text-dark">
                    Job Description
                </div>
                <div class="card-body">
                    <p class="card-text text-dark">{{ objs.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if num_of_row > 5 %}
    <div class="container mt-5 mb-5">
        <h1>Jobs List</h1>
    
        <!-- Display jobs here -->
    
        <!-- Pagination -->
        <nav aria-label="Jobs Pagination">
            <ul class="pagination justify-content-center">
                {% for p in available_pages %}  <!-- Display 3 pages at a time -->
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endif %}
   
{% endblock %}
