<!DOCTYPE html>
<html lang="en-Us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Yordanos Lemmawork">
    <meta name="description" content="This is Freelancing website that used to post official job vacancies">
    <title>Freelance Marketplace</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="icon" href="{{ url_for('static', filename='photo_2023-08-16_17-44-29.jpg') }}">
  <script src="{{ url_for('static', filename='main.js') }}" defer></script>
  <body>
      <nav class="nav-bar">
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li><a href="#foot">Contact Us</a></li>
          <li><a href="#AboutUs">About Us</a></li>
	  <li><a href="{{ url_for('blue.register') }}">Sign Up</a></li>
	  <li><a href="{{ url_for('blue.login') }}">Login</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
    <div class="intro-container">
      <div class="intro">
	      <img src="{{ url_for('static', filename='Add_a_heading.png') }}" alt="intro cover image that contains the heading text Your Next Career Opportunity Awaits and paragraph text Are you ready to unlock the doors to your dream career? We're here to help you take that exciting next step in your professional journey." width="100%"/>
      </div>
      <div class="welcome">
        <h1>
          Freelance Marketplace
        </h1>
        <h3>
          Welcome to my website
        </h3>
        <p>
	We're thrilled to welcome you to our <em>Freelance Marketplace</em> website, your trusted partner in finding your next career opportunity. Whether you're a seasoned professional or a fresh graduate, our platform connects you with a world of job possibilities. Explore, connect, and discover your dream job with us today.
        </p>
      </div>
    </div>

    <section>
      <article class="article-1">
        <article>
          <h1>
            Explore a World of Possibilities
          </h1>
          <p>
            Our job board is a treasure trove of opportunities waiting for you to discover. Whether you're a recent graduate just starting or a seasoned professional seeking a change, we have a wide range of positions that cater to diverse skill sets and aspirations.
          </p>
          <h3>
            Connect with Leading Employers
          </h3>
          <p>
            Join a community of go-getters and connect with some of the most innovative and respected employers in your field. Our platform is the bridge that brings talented individuals like you and forward-thinking companies together
          </p>
        </article>
        
      </article>
      <a href="{{ url_for('blue.register') }}">Get Started</a>
    </section>
    <div class="features">
    <div class="feature-description">
      <article>
        <h1>
          Post Job Vacancies Effortlessly
        </h1>
        <p>
          With our user-friendly job posting feature, employers can quickly and seamlessly post job vacancies. Showcase your company, outline job requirements, and reach top talent effortlessly. It's the perfect tool to connect with the perfect candidate
        </p>
      </article>
      <video src="{{ url_for('static', filename='post_demo.mp4') }}" controls  muted allowfullscreen>
      </video>
    </div>
    <div class="feature-description">
      <article>
        <h1>
          Apply with Ease
        </h1>
        <p>
          For job seekers, our job application feature streamlines the process. Apply for your desired positions with just a few clicks. Upload your resume, tailor your cover letter, and take the next step in your career journey hassle-free.
        </p>
      </article>
      <video src="{{ url_for('static', filename='apply_demo.mp4') }}" controls muted allowfullscreen>
      </video>
    </div>
    <div class="feature-description">
      <article>
        <h1>
          Manage Your Posts Seamlessly
        </h1>
        <p>
          Take control of your job listings effortlessly. Our user-friendly post management feature allows you to view, edit, and update your job postings with ease. Stay in charge of your recruitment process and keep your listings current.
        </p>
      </article>
      <video src="{{ url_for('static', filename='my_post_demo.mp4') }}" controls muted allowfullscreen>
      </video>
    </div>

    </div>

    <div class="About" id="AboutUs">
      <h1>
        About This Project
      </h1>
      <article class="About-article">
        <h2>
          Yordanos Lemmawork
        </h2>
        <p>
	<strong><em>Software Engineer at Alx Software Engineering</em></strong><br/>
        </p>
	<hr width="100%">
        <p>
          Greetings! I'm Yordanos Lemmawork, a passionate Software Engineer dedicated to pushing the boundaries of technology to solve real-world challenges. I find inspiration in crafting innovative solutions that make a positive impact on people's lives.
          My journey in software engineering began with a desire to create, learn, and grow. I've had the privilege of gaining a solid foundation in this field, thanks to  Holberton School. At Holberton, I immersed myself in the world of coding, algorithms, and problem-solving. It was here that I realized the immense potential of technology to shape the future.
        </p>
      </article>
      <article class="About-article">
        <h3>
          A Portfolio Project for Holberton School
        </h3>
        <p>
          My journey as a software engineer has been enriched by Holberton School, where I've honed my skills and embraced the philosophy of tackling complex problems creatively. This project is my way of giving back and showcasing the innovative spirit instilled in me by Holberton.
        </p>
      </article>
      <article class="About-article">
        <h3>
          Inspired by 'Afriwork Applicant Bot'
        </h3>
        <p>
          The driving force behind this portfolio project is the remarkable 'Afriwork Applicant Bot.' This innovative Telegram bot has redefined the job application process by simplifying it for freelancers. Witnessing its impact and the possibilities it unlocked deeply inspired me.
        </p>
      </article>
      <article class="About-article">
        <h3>
          Bringing Efficiency to Job Hunting
        </h3>
        <p>
          My goal with this project is to capture the essence of 'Afriwork Applicant Bot' and adapt it to a broader context. I aim to make job hunting more accessible and efficient for everyone, not just within Telegram channels but on a dedicated website.
        </p>
      </article>
      <article class="About-article">
        <h3>
          Join the Journey
        </h3>
        <p>
          I invite you to explore my portfolio project and see how inspiration from 'Afriwork Applicant Bot' has led to the creation of a user-friendly platform for job seekers and employers alike.

          Thank you for joining me on this journey of innovation and efficiency in the world of job hunting!
        </p>
      </article>
      <a href="https://github.com/Yordi-SE/Freelance_web.git" target="_blank">Find Source Code</a>
    </div>
    <footer class="footer" id="foot">
      <p>
        MY LINKS
      </p>
      <div class="footer-icons">
	      <a href="https://t.me/Jprecious" target="_blank"><img src="{{ url_for('static', filename='photo_2023-09-02_23-56-51.jpg') }}" alt="Telegram Logo"></a>
	      <a href="https://www.facebook.com/profile.php?id=100069853353595" target="_blank"><img src="{{ url_for('static', filename='fb_logo.png') }}" alt="FaceBook Logo"></a>
	      <a href="https://twitter.com/Y___L1" target="_blank"><img src="{{ url_for('static', filename='twitter_logo.jpeg') }}" alt="Twitter Logo"></a>
	      <a href="https://github.com/Yordi-SE" target="_blank"><img src="{{ url_for('static', filename='github_log.jpeg') }}" alt="Github Logo"></a>
	      <a href="mailto:lemmaworkyordanos@gmail.com" target="_blank"><img src="{{ url_for('static', filename='Gmail_logo.png') }}" alt="Gmail Logo"></a>
      </div>
    </footer>
  </body>
</html>
